/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
	display: block;
}
body {
	line-height: 1;
	background: linear-gradient(180deg, #2C153E 0%, #7438A4 52%, #2C153E 100%);
	width: 100%;
	height:99vh;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bugio
{
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
    padding: 15px;
	font-weight: 500;
    font-size: 35px;
	line-height: 1.1cm;
}

.foto
{
	height: 500px;
	width: 800px;
	padding: 15px;
	
}

.sagui
{
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
    padding: 30px 100px 100px 0;
	font-weight: 500;
	font-size: 35px;
	line-height: 1.1cm;

}


div
{		
	display: flex;
	gap: 2vw;
}


.mico
{
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
    padding: 30px;
	font-weight: 750;
    font-size: 35px;
}



@media (min-width: 1404px) and (max-width: 1630px)
{
	.sagui, .bugio
	{
		font-size: 1.65em;
	}

	.foto
	{
		height: 45vh;
		width: 50vw;
	}

	.sagui
	{
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (min-width: 1000px) and (max-width: 1399px)
{
	.sagui, .bugio
	{
		font-size: 1.4em;
	}
	.container{
		display: flex;
		gap: 0;
	}
	.mico{
		padding-bottom: 1vh;
		padding-top: 1.5vh;
	}

	.foto
	{
		height: 40vh;
		width: 35vw;
	}

	.sagui
	{
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		padding-top: 0;
		padding-bottom: 0;

	}
}

@media (min-width:777px) and (max-width: 999px)
{
	.sagui, .bugio
	{
		font-size: 1.2em;
	}
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}
	.sagui{
		padding: 0 2vw 0 2vw;
		padding-top: 0;
		padding-right: 2vw;
		order: -1;
	}
	.foto
	{
		display: flex;
		justify-content: center;
		height: 30vh;
		width: 50vw;
	}


}

@media (min-width: 660px) and (max-width: 776px)
{
	.sagui, .bugio
	{
		font-size: 1.1em;
	}
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}
	.sagui{
		padding: 0 2vw 0 2vw;
		padding-top: 0;
		padding-right: 2vw;
		order: -1;
	}
	.foto
	{
		display: flex;
		justify-content: center;
		height: 30vh;
		width: 55vw;
	}


}

@media (max-width: 659px)
{
	.sagui, .bugio
	{
		font-size: 1.1em;
	}
	.mico
	{
		text-align: center;
	}
	.sagui
	{
		/* padding-bott	om: 0; */
		padding: 3vw;
	}

	.foto
	{
		max-width: 90vw;
		height: 30vh;
	}
	.container
	{
		display: flex;
		flex-direction: column-reverse;
	}
}

@media screen and (min-width: 821px) {
	body{
		overflow-x: hidden;
	}
	
	/*fonte usada nas caixas do main*/
	.odor-mean-chey-regular {
		font-family: "Odor Mean Chey", serif;
		font-weight: 400;
		font-style: normal;
	  }
	
	
	
	
	
/* responsividade do header */
/*container do header*/
.container1{
    display:flex; /*flexbox para posicionar os itens dentro do container*/
    align-items: center; /*alinhamento vertical dos itens do header*/
	justify-content: space-between; /*alinhamento horizontal dos elementos do header*/
	box-sizing: border-box; /*delimitando o tamanho do header como adaptável ao tamanho da tela*/
	padding: 2vw; /*espassando os itens dentro header com tamanho vw para manter a responsividade*/
	width: 100vw;
	height: 4vw; /*determinando a altura do header*/
    background-color: #220E32; /*cor de fundo do header*/

}
.container-header{
	width: 70vw;
	display: flex;
	flex-direction: row;
	gap: 20vw;
	
}

/*navegação de categorias do header*/
.header-nav{
	width: 35vw;
	display: flex; /*utilizado para distribuir os itens da navegação com flexbox*/
	gap: 2vw; /*separar os itens dentro da navegação por categorias*/
	justify-content: center; /*alinhamento horizontal dos itens dentro da navegação por categorias*/
	align-items: center; /*alinhamento vertical dos itens dentro da navegação por categorias*/
	white-space: nowrap;
}

/*itens da navegação de categorias*/
.item-nav{
	text-decoration: none; /*utilizado para tirar o sublinhado que vem por padrão da tag <a> do index*/
	color: white; /*cor da fonte usada nos itens da barra de navegação*/
	font-size: 0.8em; /*tamanho da fonte dos itens usados na barra de navegação*/
	font-family: "Open Sans", sans-serif; /*fonte usada nos itens da barra de navegação*/
	outline: none;
	transition: .4s;
}
.item-nav:hover{
	font-size: 0.9em;
	color: #ffffff;
}

/*estilização da logo dentro do header*/
.container_img{
	max-width: 15%; /*tamanho da imagem dentro do header*/
}

/*container da imagem do usuário*/
.user-avatar{
	width: 15vw;
	display: flex; /*flex para alinhar os itens em linha e no centro*/
	flex-direction: row; /*alinhamento dos itens em linha*/
	align-items: center; /*alinhamento dos itens no centro*/
	gap: 1vw; /*espaço entre os itens do usuário*/
}

/*estilização da foto da user*/
.user-avatar img{
	max-width: 3.3vw; /*tamanho da foto do user*/
}

/*estilização de como aparecerá o nick do user*/
.user-name{
	font-size: 10pt; /*tamanho da fonte do nick do user*/
	font-family: 'Open Sans', sans-serif; /*fonte usada pro nick do user*/
	color: rgb(255, 255, 255); /*cor da fonte usada para o nick do user*/
	}




a{
	text-decoration: none;
}

.close{
	display: none;
}
.loupe{
	display: none;
	overflow: hidden;
}
.overlay-menu{
	display: none;
}
.close-menu{
	display: none;
}
.menu{
	display: none;
}
.overlay-menu-header{
	display: none;
}
}




/* resposividade para tablets e telas médias */


@media (min-width:590px) and (max-width: 820px) {	

	/*fonte usada nas caixas do main*/
	.odor-mean-chey-regular {
		font-family: "Odor Mean Chey", serif;
		font-weight: 400;
		font-style: normal;
	  }
	
	body{
		margin: 0;
		background-color: #2C153E;/* cor de fundo do site inteiro*/
		width: 80vw;
		height: 90vh; /*determinando o tamanho total do html para 100% do tamanho da pagina*/
	}
	
	/*container do header*/
	.container1{
		display:flex; /*flexbox para posicionar os itens dentro do container*/
		align-items: center; /*alinhamento vertical dos itens do header*/
		justify-content: space-around; /*alinhamento horizontal dos elementos do header*/
		box-sizing: border-box; /*delimitando o tamanho do header como adaptável ao tamanho da tela*/
		padding: 2vw; /*espassando os itens dentro header com tamanho vw para manter a responsividade*/
		height: 6vw; /*determinando a altura do header*/
		width: 100vw;
		background-color: #220E32; /*cor de fundo do header*/
		gap: 1vw; /*espaço utilizado para manter distancia entre os itens do header*/
	}
	.container-header{
		display: flex;
		width: 100%;
		gap: 3vw;
	}
	/*navegação de categorias do header*/
	.header-nav{
		display: flex; /*utilizado para distribuir os itens da navegação com flexbox*/
		gap: 2vw; /*separar os itens dentro da navegação por categorias*/
		justify-content: center; /*alinhamento horizontal dos itens dentro da navegação por categorias*/
		align-items: center; /*alinhamento vertical dos itens dentro da navegação por categorias*/
		width: 62vw;
	}
	
	/*itens da navegação de categorias*/
	.item-nav{
		text-decoration: none; /*utilizado para tirar o sublinhado que vem por padrão da tag <a> do index*/
		color: white; /*cor da fonte usada nos itens da barra de navegação*/
		font-size: 0.6em; /*tamanho da fonte dos itens usados na barra de navegação*/
		font-family: "Open Sans", sans-serif; /*fonte usada nos itens da barra de navegação*/
		white-space: nowrap;
	}
	
	/*estilização da logo dentro do header*/
	.container_img{
		max-width: 19%; /*tamanho da imagem dentro do header*/
	}
	
	/*container da imagem do usuário*/
	.user-avatar{
		display: flex; /*flex para alinhar os itens em linha e no centro*/
		flex-direction: row; /*alinhamento dos itens em linha*/
		align-items: center; /*alinhamento dos itens no centro*/
		gap: 1vw; /*espaço entre os itens do usuário*/
		width: 12vw;
	}
	
	/*estilização da foto da user*/
	.user-avatar img{
		order: -1;
		max-width: 3vw; /*tamanho da foto do user*/
	
	}
	
	/*estilização de como aparecerá o nick do user*/
	.user-name{
		order: -1;
		font-size: 0.6em; /*tamanho da fonte do nick do user*/
		font-family: 'Open Sans', sans-serif; /*fonte usada pro nick do user*/
		color: rgb(255, 255, 255); /*cor da fonte usada para o nick do user*/
	}
	.close-menu{
		display: none;
	}
	.menu > img{
		display: none;
	}
	
	a{
		text-decoration: none;
	}
}


/* responsividade para dispositivos móveis */
@media screen and (max-width: 589px) {



	.open-sans {
	  font-family: "Open Sans", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 100;
	  font-style: normal;
	  font-variation-settings:
		"wdth" 100;
	}
	
	.odor-mean-chey-regular {
		font-family: "Odor Mean Chey", serif;
		font-weight: 400;
		font-style: normal;
	  }
	
	body{
		background-color: #2C153E;
		margin: 0;
	}
	
	/* header */
	
	.container1{
		width: 100vw;
		height: 7vh;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-bottom: 2vh;
		display:flex;
		align-items: center;
		box-sizing: border-box;
		background-color: #220E32;
		
	
	}
	.container img{
		justify-content: center;
		max-width: 50%;
	}
	.header-nav{
		display: flex;
		flex-direction: column;
		gap: 1vh;
		justify-content: center;
		align-items: end;
		width: 100vw;
		height: 40vh;
		padding: 2vw;
		position: relative;
		top: 22vh;
	}
	.item-nav{
		text-decoration: none;
		color: white;
		font-size: 8pt;
		font-family: "Open Sans", sans-serif;
		width: 70%;
		height: 5vh	;
		overflow: hidden;
	
	}
	
	.user-avatar{
		padding-left: 2vw;
		position: absolute;
		top: 3vh;
		right: 15vw;
		order: -1;
		height: 20vh;
		width: 20vw;
	}
	
	.user-avatar span{
		color: white;
		padding-top: 1vh;
		width: 30vw;
		height: 2vh;
		font-family: "Open Sans", sans-serif;
		font-size: 10pt;
		text-align:start;
	}
	.user-avatar img{
		padding-top: 1vh;
		max-width:80%;
		max-height: 100%;
	}
	
	.container-header{
		display: flex;
		justify-content: end;
		background: #492663;
		border-radius: 10px;
		height: 100vh;
		width:0;
		transition: .5s;
		position: fixed;
		overflow: hidden;
		top: 0;
		right: 0;
		z-index: 999999;
	}
	.menu{
		display: flex;
		justify-content: end;
		width: 100vw;
		height: 7vh;
		
	}
	.menu img{
		max-width: 100%;
		max-height: 100%;
	}
	
	.close-menu{
		padding-top: 3vh;
		position: relative;
		left: 5vw;
		order: -1;
		height: 5vh;
		width: 30vw;
	}
	
	.overlay-menu-header{
		background: #0000006a;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 8888;
		display: none;
	}
	
	.container-header.open-header-menu{
		width: 70%;
	}
	.container-header.open-header-menu ~.overlay-menu-header{
		display:block;
	}
	/* main */
	a{
		text-decoration: none;
	}
	
	.overlay-menu{
		background: #0000006a;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 8888;
		display: none;
	}
	.container-aside.abrir-menu ~ .overlay-menu{
		display: block;
	}
	}